<%- include("templates/header") %>
    </head>

    <div class="title" class="center">
        <img src="/img/Logo.png" alt="logo" width="250" height="250">
    </div>

    <div class="login bg-light">
        <br>
        <form action="/changeUsername" method="POST" class="index-form center">
            <h1>New Username</h1>
            <input type="text" name="username" placeholder="Username">
            <button type="submit" class="index-btn">Confirm</button>
        </form>
        <br>
    </div>
    <%- include("templates/end") %>