<%- include("templates/header") %>
    <link rel="stylesheet" href="/styles/change.css">
    <link rel="stylesheet" href="/styles/style.css">
    </head>

    <div class="title" class="center">
        <img src="/img/Logo.png" alt="logo" width="250" height="250">
    </div>

    <div class="login bg-light">
        <br>
        <% if (issue==true) { %>
            <div class="alert alert-danger" role="alert">
                <h1>Invalid Username</h1>
            </div>
            <form action="/changeUsername" method="POST" class="change-form center">
                <h1>New Username</h1>
                <h5>Must be between 8-20 characters</h5>
                <h5>No spaces or special characters</h5>
                <input type="text" name="username" placeholder="Username" class="border" required>
                <button type="submit" class="index-btn" onclick="confirmChange(event)">Confirm</button>
            </form>
            <% } else { %>
                <form action="/changeUsername" method="POST" class="change-form center">
                    <h1>New Username</h1>
                    <h5>Must be between 8-20 characters</h5>
                    <h5>No spaces or special characters</h5>
                    <input type="text" name="username" placeholder="Username">
                    <button type="submit" class="index-btn" onclick="confirmChange(event)">Confirm</button>
                </form>
                <% } %>
                    <br>
    </div>

    <script>
        function confirmChange(event) {
            event.preventDefault();
            const modal = document.getElementById('confirmModal');
            const modalContent = document.querySelector('.modal-content');

            modal.style.display = 'block';
            setTimeout(() => {
                modal.classList.add('show');
                modalContent.classList.add('show');
            }, 10);

            document.getElementById('confirmBtn').onclick = function () {
                modalContent.classList.remove('show');
                setTimeout(() => {
                    event.target.closest('form').submit();
                }, 500);
            };

            document.getElementById('cancelBtn').onclick = function () {
                modalContent.classList.remove('show');
                modal.style.display = 'none';
            };
        }
    </script>

    <!-- Confirmation Modal -->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to change your username?</p>
            <button id="confirmBtn">Yes</button>
            <button id="cancelBtn">No</button>
        </div>
    </div>
    <%- include("templates/end") %>