<h1>Uploaded Images</h1>
<% if (images.length > 0) { %>
    <% images.forEach(function(image) { %>
        <img src="/images/<%= image.filename %>" alt="User Image" style="width: 150px; height: auto;">
    <% }); %>
<% } else { %>
    <p>No images to display.</p>
<% } %>