<%- include("templates/header") %>
<div class="title">
    <img src="/img/Logo.png" alt="logo" width="500" height="500">
</div>

<div class="p-5 mb-4 bg-light rounded-3" style="display:flex; justify-content:center;">
    <div class="container-fluid py-5">
      <!-- <h1 class="display-5 fw-bold">FitUp</h1> -->
      <a href="/login"><button id="login-btn" class="btn"
        type="button">Login</button></a><br /><br /><br /><br />
      <a href="/signup"><button id="login-btn" class="btn"
        type="button">Signup</button></a><br /><br /><br /><br />
    </div>
  </div>
<%- include("templates/end") %>