<%- include("templates/header") %>
<link rel="stylesheet" type="text/css" href="/styles/style.css" text="">
	</head>
	<div class="header">
	</div>

	<div class="title" class="center">
		<img src="/img/Logo.png" alt="logo" width="250" height="250">
	</div>

	<div class="login bg-light">
		<br>
		<form action="/login" method="get" class="index-form">
			<button type="submit" class="index-btn">Login</button>
		</form>

		<form action="/signup" method="get" class="index-form">
			<button type="submit" class="index-btn">Signup</button>
		</form>
		<br>
	</div>
	<%- include("templates/easteregg") %>
		<%- include("templates/end") %>
