<%- include("templates/header") %>
	<link rel="stylesheet" type="text/css" href="/styles/change.css" text="">
	</head>

	<div class="title" class="center">
		<img src="/img/Logo.png" alt="logo" width="250" height="250">
	</div>


	<div class="login bg-light">
		<br>
		<% if (input==1) { %>
			<div class="alert alert-danger" role="alert">
				<h1>Invalid Email or Password</h1>
			</div>
			<% } %>
				<!-- Go Back button -->
				<button type="button" class="index-btn top-left" style="margin-left: 10px;"
					onclick="location.href='/';">
					Go Back
				</button>

				<form action="/login" method="POST" class="index-form center">
					<h1>Login</h1>


					<% if (input==1) { %>
						<input type="email" name="email" placeholder="Email" class="border">
						<input type="password" name="password" placeholder="Password" class="border">
						<% } else { %>
							<input type="email" name="email" placeholder="Email">
							<input type="password" name="password" placeholder="Password">
							<% } %>

								<button type="submit" class="index-btn">Login</button>
				</form>
				<br>
				<form class="index-form center">
					<a href="/reset-email" class="resize">Reset password</a>
				</form>
	</div>
	<%- include("templates/easteregg") %>
		<%- include("templates/end") %>