<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
</head>
<body>

    <a href="main">
        <input type="image" class="footerButton" src="../../img/35-home-general.svg">
    </a>


    <h1>Community Posts</h1>
    
    <form action="/postImgtest/post" method="post" enctype="multipart/form-data">
        <textarea name="text" rows="4" cols="50" placeholder="Write something..." required></textarea><br>
        <input type="file" name="images" accept="image/*" multiple><br>
        <input type="file" name="images" accept="image/*" multiple><br>
        <input type="file" name="images" accept="image/*" multiple><br>
        <input type="file" name="images" accept="image/*" multiple><br>
        <button type="submit">Post</button>
    </form>

    <% posts.forEach(post => { %>
        <div style="border: 1px solid #000; padding: 10px; margin: 10px;">
            <p><%= post.text %></p>
            <% post.imageUrls.forEach(image => { %>
                <img src="<%= image %>" alt="Post Image" style="max-width: 100px; max-height: 100px;">
            <% }) %>
            <form action="/postImgtest/delete/<%= post._id %>" method="post" style="margin-top: 10px;">
                <button type="submit">Delete</button>
            </form>
        </div>
    <% }) %>
</body>
</html>
