<%- include("templates/header") %>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-top: 20px;
            font-size: 30PT;
            /* Increase font size */
        }

        h2 {
            color: #555;
            text-align: center;
            margin-top: 10px;
        }

        .shop-container {
            text-align: center;
        }

        .shop-image {
            width: 100%;
            max-width: 100px;
            /* Maximum width for the image */
            height: auto;
            margin: 20px auto;
            display: block;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        }

        .shopitems {
            list-style-type: none;
            padding: 0;
            max-width: 800px;
            margin: 20px auto;
            background: #fff;
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }

        .shopitems li {
            padding: 20px;
            border-bottom: 1px solid #eee;
        }

        .shopitems li:last-child {
            border-bottom: none;
        }

        .shopitems li:hover {
            background-color: #f1f1f1;
        }

        .item-name {
            font-size: 1.2em;
            color: #333;
        }

        .item-description {
            color: #666;
            margin-top: 5px;
            font-size: 10pt;
        }

        .item-price {
            color: #007bff;
            font-weight: bold;
        }

        .buy-button {
            background-color: #FF8624;
            /* Original orange color */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px 2px;
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .back-button {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #FF8624;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 3px 10px;
        font-size: 20pt;
        cursor: pointer;
        text-decoration: none;
        }

    .back-button:hover {
        background-color: #e55a50;
        }
        #go-back {
            display:block;
  position: absolute;
  left: 20px;
  top: 50px;
  background-color: rgb(221, 218, 218);
  opacity: 0.4;
  border-radius: 40px;
  width: 50px;
  height: 50px;
}
#go-back-icon {
  position: absolute;
  left: 27px;
  top: 59px;
  width:30px;
  height:30px;
}
    </style>
    </head>
    
    <br>
    <a href="/" id="go-back"></a>
    <svg id="go-back-icon" width="55" height="55" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M17 3L10.6648 5.7151C10.231 5.90101 9.86061 6.20908 9.59882 6.60178V6.60178C7.41955 9.87068 7.41955 14.1293 9.59882 17.3982V17.3982C9.86061 17.7909 10.231 18.099 10.6648 18.2849L17 21"
        stroke="black" stroke-width="2" stroke-linejoin="round" />
    </svg>
    <div class="shop-container">
        <h1>Shop</h1>
        <img src="../img/shop.png" alt="Shop Image" class="shop-image">
        <h2>Spending Points: <%= currentPoints %>
        </h2>
    </div>
    <ol class="shopitems">
        <% for(let i=0; i < items.length; i++) { %>
            <%- include('templates/item', {item: items[i]}) %>
                <% } %>
    </ol>
    <%- include("templates/end") %>