<!-- Footer -->
<footer id="footer">
  <div id="home-weight">
    <a id="home" href="community">
      <svg id="home-icon" width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M6.59287 4.41487C7.50625 4.11041 8.49375 4.11041 9.40714 4.41487C9.96327 4.60025 10.3997 5.03665 10.5851 5.59278C10.8895 6.50617 10.8895 7.49367 10.5851 8.40705C10.3997 8.96319 9.96327 9.39959 9.40714 9.58496C8.49375 9.88943 7.50625 9.88943 6.59287 9.58496C6.30539 9.48914 6.0499 9.32624 5.84455 9.11439C4.78921 9.55475 4.07476 10.5579 4.00549 11.7016C4.00045 11.7849 4 11.8821 4 12.1622V13.9999H2L2 12.13C1.99999 11.8942 1.99997 11.7322 2.00915 11.5807C2.12592 9.65263 3.34281 7.96428 5.13501 7.2438C5.15377 7.23625 5.17277 7.2288 5.19212 7.22138C5.16479 6.67283 5.23907 6.12044 5.41496 5.59278C5.60034 5.03665 6.03673 4.60025 6.59287 4.41487ZM8.70866 7.70857C8.84831 7.24648 8.84831 6.75336 8.70866 6.29126C8.24657 6.15161 7.75344 6.15161 7.29135 6.29126C7.1517 6.75336 7.1517 7.24648 7.29135 7.70857C7.75344 7.84822 8.24657 7.84822 8.70866 7.70857Z"
          fill="black" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M14.5929 4.41487C15.5063 4.11041 16.4938 4.11041 17.4071 4.41487C17.9633 4.60025 18.3997 5.03665 18.5851 5.59278C18.7609 6.12044 18.8352 6.67283 18.8079 7.22139C18.8272 7.22881 18.8462 7.23625 18.865 7.2438C20.6572 7.96428 21.8741 9.65263 21.9909 11.5807C22 11.7322 22 11.8941 22 12.1299L22 13.9999H20V12.1622C20 11.8821 19.9996 11.7849 19.9945 11.7016C19.9253 10.5579 19.2108 9.55475 18.1555 9.11439C17.9501 9.32624 17.6946 9.48914 17.4071 9.58496C16.4938 9.88943 15.5063 9.88943 14.5929 9.58496C14.0367 9.39959 13.6003 8.96319 13.415 8.40705C13.1105 7.49367 13.1105 6.50617 13.415 5.59278C13.6003 5.03665 14.0367 4.60025 14.5929 4.41487ZM16.7087 7.70857C16.8483 7.24648 16.8483 6.75336 16.7087 6.29126C16.2466 6.15161 15.7534 6.15161 15.2913 6.29126C15.1517 6.75336 15.1517 7.24648 15.2913 7.70857C15.7534 7.84822 16.2466 7.84822 16.7087 7.70857Z"
          fill="black" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M13.4071 10.4149C12.4938 10.1104 11.5063 10.1104 10.5929 10.4149C10.0367 10.6002 9.60034 11.0366 9.41496 11.5928C9.11049 12.5062 9.1105 13.4937 9.41496 14.4071C9.60034 14.9632 10.0367 15.3996 10.5929 15.585C11.5063 15.8894 12.4938 15.8894 13.4071 15.585C13.9633 15.3996 14.3997 14.9632 14.5851 14.4071C14.8895 13.4937 14.8895 12.5062 14.5851 11.5928C14.3997 11.0366 13.9633 10.6002 13.4071 10.4149ZM12.7087 12.2913C12.8483 12.7534 12.8483 13.2465 12.7087 13.7086C12.2466 13.8482 11.7534 13.8482 11.2913 13.7086C11.1517 13.2465 11.1517 12.7534 11.2913 12.2913C11.7534 12.1516 12.2466 12.1516 12.7087 12.2913Z"
          fill="black" />
        <path
          d="M11.8989 15.9999C11.1629 15.9997 10.6581 15.9996 10.1978 16.0863C8.60574 16.3861 7.25759 17.4387 6.58059 18.9105C6.38489 19.336 6.26257 19.8258 6.08424 20.5398L6.02986 20.7574L7.97015 21.2425L8.00001 21.123C8.21236 20.2736 8.29012 19.9799 8.3976 19.7463C8.8038 18.8632 9.61269 18.2316 10.5679 18.0517C10.8207 18.0041 11.1244 17.9999 12 17.9999C12.8756 17.9999 13.1793 18.0041 13.4321 18.0517C14.3873 18.2316 15.1962 18.8632 15.6024 19.7463C15.7099 19.9799 15.7876 20.2736 16 21.123L16.0299 21.2425L17.9701 20.7574L17.9158 20.5398C17.7374 19.8258 17.6151 19.336 17.4194 18.9105C16.7424 17.4387 15.3943 16.3861 13.8022 16.0863C13.3419 15.9996 12.8371 15.9997 12.1012 15.9999H11.8989Z"
          fill="black" />
      </svg>
    </a>
    <a id="weight" href="fitTasks">
      <svg id="weight-icon" width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.51706 10.6554C6.19086 10.8729 5.78252 10.9275 5.41058 10.8036C3.89312 10.2977 2.70237 9.10699 2.19655 7.58953C2.07257 7.2176 2.12726 6.80926 2.34473 6.48305L2.46829 6.29772C2.78795 5.81823 3.13662 5.36025 3.51194 4.92615L2.29295 3.70717L3.70717 2.29295L4.92615 3.51194C5.36025 3.13662 5.81823 2.78795 6.29772 2.46829L6.48305 2.34473C6.80926 2.12726 7.2176 2.07257 7.58953 2.19655C9.10699 2.70237 10.2977 3.89312 10.8036 5.41058C10.9275 5.78252 10.8729 6.19085 10.6554 6.51706L10.5318 6.7024C10.2122 7.18189 9.86349 7.63987 9.48818 8.07396L14.9488 13.5346C15.47 13.0761 16.0223 12.6519 16.6023 12.2652L16.7134 12.1912C16.8943 12.0706 17.1207 12.0403 17.3269 12.109C19.0097 12.6699 20.3302 13.9904 20.8911 15.6732C20.9599 15.8794 20.9295 16.1059 20.8089 16.2867L20.7349 16.3978C20.3482 16.9779 19.924 17.5301 19.4656 18.0513L20.7072 19.2929L19.293 20.7072L18.0513 19.4655C17.5301 19.924 16.9779 20.3482 16.3978 20.7349L16.2867 20.8089C16.1059 20.9295 15.8794 20.9599 15.6732 20.8911C13.9904 20.3302 12.6699 19.0097 12.109 17.3269C12.0403 17.1207 12.0706 16.8943 12.1912 16.7134L12.2652 16.6023C12.6519 16.0223 13.0761 15.47 13.5346 14.9488L8.07396 9.48818C7.63987 9.86349 7.18189 10.2122 6.7024 10.5318L6.51706 10.6554Z"
          fill="black" />
      </svg>
    </a>
  </div>
  <a id="plus" href="/ai-training-scan-request">
         <img id="plus-icon" src="/img/body-scan-icon.png" alt="...">
  </a>
  <div id="fill"></div>
  <a id="diet-user" href="dietTasks">
    <div id="diet">
      <svg id="diet-icon" width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M4 2V9.67544C4 10.8969 4.78159 11.9813 5.94036 12.3675C6.28752 12.4833 6.642 12.5689 7 12.6246V22H9V12.6246C9.358 12.5689 9.71248 12.4833 10.0596 12.3675C11.2184 11.9813 12 10.8969 12 9.67544V2H10V9.67544C10 10.036 9.76927 10.3562 9.42719 10.4702C9.28635 10.5171 9.14378 10.5569 9 10.5896V2H7V10.5896C6.85622 10.5569 6.71365 10.5171 6.57281 10.4702C6.23073 10.3562 6 10.036 6 9.67544V2H4Z"
          fill="black" />
        <path
          d="M15.607 2.97882C16.8591 1.72671 19 2.6135 19 4.38426V22H17V15.9997C16.5333 15.9985 16.1227 15.9922 15.7742 15.9594C15.3177 15.9164 14.8665 15.821 14.4451 15.5656C14.0317 15.3151 13.6849 14.9683 13.4344 14.5549C13.179 14.1335 13.0836 13.6823 13.0406 13.2258C13 12.7944 13 12.2678 13 11.6573L13 9.27259C13 6.91197 13.9378 4.64803 15.607 2.97882Z"
          fill="black" />
      </svg>
    </div>
    <a id="user" href="/profile">
      <svg id="user-icon" width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M4 18.167C4 18.2304 4 18.2621 4.00076 18.2897C4.02747 19.2561 4.74159 20.065 5.6972 20.2114C5.72451 20.2156 5.75596 20.2195 5.81887 20.2274V20.2274C6.04594 20.2557 6.15948 20.2699 6.27269 20.2835C10.0772 20.7408 13.9228 20.7408 17.7273 20.2835C17.8405 20.2699 17.9541 20.2557 18.1811 20.2274V20.2274C18.244 20.2195 18.2755 20.2156 18.3028 20.2114C19.2584 20.065 19.9725 19.2561 19.9992 18.2897C20 18.2621 20 18.2304 20 18.167V17.3057C20 15.9188 19.1397 14.6774 17.8411 14.1904V14.1904C14.0751 12.7782 9.92491 12.7782 6.15888 14.1904V14.1904C4.8603 14.6774 4 15.9188 4 17.3057V18.167Z"
          stroke="black" stroke-width="2" stroke-linejoin="round" />
        <path
          d="M8.57143 5.28571C8.84122 4.47634 9.47634 3.84122 10.2857 3.57143V3.57143C11.3985 3.20051 12.6015 3.20051 13.7143 3.57143V3.57143C14.5237 3.84122 15.1588 4.47634 15.4286 5.28571V5.28571C15.7995 6.39848 15.7995 7.60152 15.4286 8.71429V8.71429C15.1588 9.52366 14.5237 10.1588 13.7143 10.4286V10.4286C12.6015 10.7995 11.3985 10.7995 10.2857 10.4286V10.4286C9.47634 10.1588 8.84122 9.52366 8.57143 8.71429V8.71429C8.20051 7.60152 8.20051 6.39848 8.57143 5.28571V5.28571Z"
          stroke="black" stroke-width="2" stroke-linejoin="round" />
      </svg>
    </a>
    </div>
</footer>

<script src="/scripts/main.js"></script>

</body>

</html>