  <!-- Footer -->
  <footer>
    <a>.........................................................................................................</a>
    <a href="index.html">
      <input type="image" class="footerButton" src="../img/23-user-group.svg">
    </a>
    <a href="/main">
      <input type="image" class="footerButton" src="../img/35-home-general.svg">
    </a>
    <a href="index.html">
      <input type="image" class="footerButton" src="../img/22-user.svg">
    </a>
  </footer>

  <!-- Link to scripts of our own -->

</body>

</html>