    <!-- Footer -->
    <footer>
      <a href="index.html">
        <input type="image" class="footerButton" src="../../img/23-user-group.svg">
      </a>
      <a href="index.html">
        <input type="image" class="footerButton" src="../../img/35-home-general.svg">
      </a>
      <a href="index.html">
        <input type="image" class="footerButton" src="../../img/22-user.svg">
      </a>
    </footer>

    <!-- Link to scripts of our own -->
    <!-- <script src="/scripts/firebaseAPI_TEAMBBY29.js"></script> -->
    <!-- <script src="/scripts/authentication.js"></script> -->
    <!-- <script src="/scripts/main.js"></script> -->
    <!-- <script src="/scripts/skeleton.js"></script> -->

</body>

</html>