
    <%= item.name %> (<%= item.price %> Points)
    <div>
        <form action='/buy/<%= item.name %>' method='post'>
            <button class="btn custom-btn rounded-pill px-5">Buy</button>
        </form>
        <form action='/moreinfo/<%= item.name %>' method='post'>
            <button class="btn btn-secondary rounded-pill px-4">More Info</button>
        </form>
    </div>
            