        body {
            background-color: #ffffff; /* white background */
            color: #333333; /* dark text color */
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .error-container {
            text-align: center;
            max-width: 600px;
        }
        .error-container h1 {
            color: #FF8624; /* orange heading color */
        }
        .error-container p {
            font-size: 1.2rem;
        }
        .btn-primary {
            background-color: #FF8624; /* orange button color */
            border-color: #FF8624; /* orange button border color */
        }
        .btn-primary:hover {
            background-color: #E67300; /* darker shade of orange on hover */
            border-color: #E67300;
        }