.fixed-bottom {
    position: fixed;
    bottom: 0;
}

footer {
    position: fixed;
    display: flex;
}

#home {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 90px;
    bottom: 30px;
    background-color: black;
    border-radius: 20px;
}

#home-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}

#initiate-chat {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 175px;
    transform: translateY(-50%);
    bottom: 30px;
    background-color: black;
    border-radius: 20px;
}

#initiate-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

#bookmark {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 280px;
    bottom: 30px;
    background-color: black;
    border-radius: 20px;
}

#bookmark-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}

#styling-bar {
    background-color: black;
    height: 3px;
    width: 50%;
    position: absolute;
    bottom: 10px;
    left: 50px;
}

#content {
    margin-bottom: 200px;
}

