body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 40pt;
    font-weight: bold;
}

.text {
    position: absolute;
    top: 50%;
    margin: 0 20px;
    color: #FF8624;
    opacity: 0;
    transition: opacity 1s ease;
}

#camera-feed {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
  
.fixed-bottom {
    position: fixed;
    bottom: 0;
}

footer {
    position: fixed;
    display: flex;
}

#home {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 90px;
    bottom: 30px;
    background-color: black;
    border-radius: 20px;
}

#home-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}

#camera{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 175px;
    transform: translateY(-50%);
    bottom: 30px;
    background-color: black;
    border-radius: 20px;
}

#camera-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

#skip {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 280px;
    bottom: 30px;
    background-color: black;
    border-radius: 20px;
}

#skip-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}

#styling-bar {
    background-color: black;
    height: 3px;
    width: 50%;
    position: absolute;
    bottom: 10px;
    left: 50px;
}

#content {
    margin-bottom: 200px;
}

#go-back {
    position: absolute;
    left: 20px;
    top: 50px;
    background-color: rgb(221, 218, 218);
    opacity: 0.6;
    border-radius: 20px;
    width: 60px;
    height: 60px;
}

#go-back-icon {
    position: absolute;
    left: 32px;
    top: 65px;
}

#setting {
    position: absolute;
    right: 20px;
    top: 50px;
    background-color: rgb(221, 218, 218);
    opacity: 0.6;
    border-radius: 20px;
    width: 60px;
    height: 60px;
}

#setting-icon {
    position: absolute;
    right: 18px;
    transform: translateX(-50%);
    top: 65px;
}

#top-nav {
    position: fixed;
    top: 0;
    color: white;
    font-weight: bold;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 300px;
    z-index: 1000;
}

