body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #646464;
}

header {
    margin-top: 3em;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2em;
    font-weight: 900;
}

#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
}

#home {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: rgb(221, 218, 218);
    border-radius: 20px;
    border-bottom: solid #FF8624;
}

#home-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}

#dash-board {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 120px;
    bottom: 30px;
    background-color: rgb(221, 218, 218);
    border-radius: 20px;
    opacity: 0.6;
}

#cancel-ctn {
    position: absolute;
    left: 210px;
    bottom: 30px;
    background-color: #FF8624;
    width: 200px;
    height: 60px;
    border-radius: 20px;
}

#cancel {
    color: white;
    font-size: 16pt;
    text-align: center;
    position: absolute;
    left: 30px;
    top: 20px;
}

#cancel-btn {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(221, 218, 218);
    opacity: 0.8;
    top: 10px;
}

#cancel-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

#dash-board-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}


#styling-bar {
    background-color: black;
    height: 3px;
    width: 50%;
    position: absolute;
    bottom: 10px;
    left: 50px;
}

#content {
    margin-bottom: 200px;
}


#fill {
    position: absolute;
    left: 170px;
    bottom: 40px;
    background-color: white;
    width: 90px;
    height: 50px;
}

body {
    overflow: hidden;
}

video {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#scanning {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(185, 254, 253);
    font-size: 20pt;   
    font-weight: bold; 
    display: flex;
    flex-wrap: wrap;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 30px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,rgb(185, 254, 253) 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
    margin: 10px 10px 0;
  }
  @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

  #wait-msg {
    position: absolute;
    top: 80px;
    left: 20%;
    color: rgb(185, 254, 253);
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
  }