/* Modal CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal.show {
    display: block;
}

.change-form {
    padding: 12px 0px;
    font-size: 16px;
    
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
}

.modal-content p {
    font-size: 18px;
}

.modal-content.show {
    opacity: 1;
    transform: scale(1);
}

#confirmBtn, #cancelBtn {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#confirmBtn {
    font-size: 18px;
    background-color: #f44336;
    color: white;
    border: none;
}

#cancelBtn {
    font-size: 18px;
    background-color: #efefef;
    color: rgb(0, 0, 0);
    border: none;
}

.border {
    background-color: #EB7579;
}