body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 10px;
}

h1 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

input[type="file"] {
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    color: white;
    background-color: #FF8624;
}

#map {
    margin-top: 10px;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.preview img {
    max-width: 150px;
    margin: 10px;
    border-radius: 10px;
}

.go-back {
    align-self: flex-start;
    margin: 10px;
    cursor: pointer;
    color: white;
    background-color: #FF8624;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
}

.alert {
    width: 100%;
    text-align: center;
    padding: 15px;
    border: 1px solid red;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    box-sizing: border-box;
    position: fixed;
    /* top: 0; */
    left: 0;
    right: 0;
    z-index: 9999;
}

h2 {
    font-family: "Rubik", sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: #141a39;
    text-transform: uppercase;
    cursor: default;
    margin: 20px 0;
    text-align: center;
}

/* Ensure responsiveness */
@media (max-width: 430px) {
    h1 {
        font-size: 4rem;
    }

    textarea {
        font-size: 1.5rem;
        padding: 12px;
    }

    select, button {
        font-size: 2rem;
        padding: 12px;
    }

    .go-back {
        font-size: 1.5rem;
        padding: 8px;
    }

    #map {
        height: 300px;
    }

    .preview img {
        max-width: 130px;
    }

    h2 {
        font-size: 1.5rem;
        margin: 15px 0;
    }
}
