body {
    margin: 0;
    padding: 0;
    font-size: 16pt;
    /* background-color: #000000 ; */
}

nav {
    width: 100%;
    /* position: fixed; */
    top: 20px;
}

.py-5 {
    padding: 0 !important;
}

.my-5 {
    margin: 0 0 180px !important
}

.navButton {
    margin-left: 19px;
    margin-right: 18px;
    text-align: center;
    vertical-align: middle;
}

.navText {
    position: relative;
    top: 20px;
    padding: 14px 0;
    margin-left: 20px;
    font-size: 30px;
}

#chart {
    align-content: center;
    text-align: center;
    align-items: center;
}

#tropohy {
    width: 20%;
}


.task-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.task-entry {
    width: 80%;
    min-height: 100px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}



/* leader board */
main {
    width: 40rem;
    height: 43rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
}

#header {
    width: 100%;
    padding: 2.5rem 2rem;
}

.share {
    width: 4.5rem;
    height: 3rem;
    background-color: #000000;
    border: 0;
    border-bottom: 0.2rem solid #8b8b8bb4;
    border-radius: 2rem;
    cursor: pointer;
}

.share:active {
    border-bottom: 0;
}

.share i {
    color: #fff;
    font-size: 2rem;
}


h1 {
    font-family: "Rubik", sans-serif;
    font-size: 1.7rem;
    color: #141a39;
    text-transform: uppercase;
    cursor: default;
    font-weight: bold;
}

#leaderboard {
    width: 95%;
    position: relative;
    margin: 0 0 0 10px;
}
  
  @keyframes sparkle {
    0% {
      opacity: 0;
      transform: translateY(0) rotate(0deg);
    }
    50% {
      opacity: 1;
      transform: translateY(-50px) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translateY(0) rotate(360deg);
    }
  }

  /* Adjust the size and position of the fireworks */
  .firework {
    position: absolute;
    width: 10px; /* Increase particle size */
    height: 10px; /* Increase particle size */
    border-radius: 50%;
    animation: firework 1s ease-in-out infinite;
  }

  @keyframes firework {
    0% {
      opacity: 0;
      transform: translateY(0) rotate(0deg);
    }
    50% {
      opacity: 1;
      transform: translateY(-100px) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: translateY(0) rotate(360deg);
    }
  }
  
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
}

tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
}

tr:not(:first-child):hover {
    background-color: #fff;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:nth-child(1) {
    color: #fff;
}

td {
    height: 5rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: relative;
}

.number {
    width: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
}

.name {
    text-align: left;
    font-size: 1.2rem;
    padding-left: 0;
}

.points {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.points:first-child {
    width: 10rem;
}

.gold-medal {
    height: 3rem;
    margin-left: 1.5rem;
}

.ribbon {
    width: 100%;
    height: 6.3rem;
    top: -0.5rem;
    background-color: #353741;
    position: absolute;
    left: 0px;
    -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
    box-shadow: 0px 15px 11px -6px #7a7a7d;
}

.ribbon::before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    left: 0.35rem;
    transform: rotate(45deg);
    background-color: #747477;
    position: absolute;
    z-index: -1;
}

.ribbon::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    right: 0.35rem;
    transform: rotate(45deg);
    background-color: #6a6a6d;
    position: absolute;
    z-index: -1;
}

#buttons {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.taskplace_holder {
    font-size: 30px;
}


.button {
    border-radius: 25px;
    margin-top: 20px;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    margin-left: 125px;
    margin-right: 810px;
    color: black;
    font-size: 40px;
    background-color: #d4d5d6;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.shopitems {
    font-size: 25pt;
}

.button:hover {
    background-color: #9fa5a7;
}

.title {
    margin-top: 100px;
}

.custom-btn {
    background-color: #FF8624;
    color: #fff;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.login {
    font-size: 30px;
}

.index-form {
    padding: 12px 24px;
    font-size: 16px;

}

.index-btn {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background-color: #FF8624;
    bottom: 60px;
    right: 20px;
}

.task-nav {
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    width: 80%;
    display: flex;
    /* Use flexbox */
    justify-content: space-between;
    /* Space items evenly */
}

.resize {
    font-size: 10px;

}

#get-started-ai {
    position: absolute;
    left: 20px;
    bottom: 70px;
    color:white;
    
}
footer {
    display: flex;
    position: fixed;
    bottom: -40px;
    width: 100%;
    height: 130px;
}

#home-weight {
    height: 120px;
    width: 180px;
    background-color: white;
    border-radius: 20px;
}

#home {
    background-color: rgb(225, 225, 225);
    width: 60px;
    height: 60px;
    border-radius: 20px;
    position: absolute;
    left: 20px;
    bottom: 60px;
    border-bottom: solid #FF8624;
}

#home-icon {
    position: absolute;
    left: 13px;
    top: 13px;
}

#weight {
    background-color: rgb(225, 225, 225);
    width: 60px;
    height: 60px;
    border-radius: 20px;
    position: absolute;
    left: 100px;
    bottom: 60px;
    opacity: 0.6;
}

#weight-icon {
    position: absolute;
    left: 13px;
    top: 13px;
}

#plus {
    
    position: absolute;
    left: 180px;
    bottom: 90px;
    background-color: #FF8624;
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

#plus-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

#diet-user {
    height: 130px;
    width: 180px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    right: 0;
    bottom: 0px;
}

#diet {
    background-color: rgb(225, 225, 225);
    width: 60px;
    height: 60px;
    border-radius: 20px;
    position: absolute;
    right: 100px;
    bottom: 60px;
    opacity: 0.6;
}

#diet-icon {
    position: absolute;
    left: 13px;
    top: 13px;
}

#user {
    background-color: rgb(225, 225, 225);
    width: 60px;
    height: 60px;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    bottom: 60px;
    opacity: 0.6;
}

#user-icon {
    position: absolute;
    left: 13px;
    top: 13px;
}


#fill {
    position: absolute;
    left: 170px;
    bottom: 40px;
    background-color: white;
    width: 90px;
    height: 50px;
}

#header-top {
    position: relative;
    height: 250px;
    color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url('/img/wallpaper-header.png');
}

#header-top video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#header-top #date {
    position: absolute;
    top: 30%;
    left: 20px;
    z-index: 1;
    font-size: 14pt;
    opacity: 0.8;
}

#calendar {
    opacity: 0.8;
}

#hello-container {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 18pt;
    width: 90%;
}

#avatar {
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

#hello-user {
    position: absolute;
    left: 100px;
    top: 25%;
}

#health-icon {
    position: absolute;
    left: 100px;
    top: 105%;
}

#health-metrics {
    font-size: 14pt;
    position: absolute;
    left: 130px;
    bottom: -40px;
}

#notification {
    display: block;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
    z-index: -0;
}

#notification-icon {
    position: absolute;
    right: 35px;
    top: 85px;
}



#notification-metric {
    width: 12px;
    height: 12px;
    border-radius: 5px;
    background-color: #FF8624;
    position: absolute;
    top: 85px;
    right: 38px;
}

#rank {
    font-size: 14pt;

}

.todo {
    font-size: 24pt;
    font-weight: bold;
    margin: 20px;
}

#fit-task-container {
    width: 90%;
    border-radius: 20px;
    margin: 20px auto;
    align-items: center;
    position: relative;
}


.task-item {
    width: 100%;
    height: 100px;
    /* background-color: #ececec; */
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16pt;
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    padding: 0 60px;
}

.task-icon-container {
    position: absolute;
    left: 20px;
    top: 30%;
}

.view-task {
    position: absolute;
    right: 20px;
    top: 30%;
}

#diet-task-container {
    width: 90%;
    border-radius: 20px;
    margin: 20px auto;
    align-items: center;
    position: relative;
}


/* ================ AI chat Config ===========================*/

#ai-chat-container {
    margin: 30px 20px;
    font-size: 24pt;
    font-weight: bold;
    position: relative;
}

#ai-chat {
    width: 90%;
    margin: auto 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

#configure-text {
    margin: auto 20px;
}

#ai-chat-bg {
    height: 250px;
    width: 100%;
    border-radius: 40px;
    background-image: url('/img/ai-humannoid.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#new-chat {
    color: white;
    font-size: 14pt;
    position: absolute;
    bottom: -220px;
    left: 20px;
}

.card-body {
    border: solid 2px #FF8624;
    border-radius: 50px;
    height: 400px;
    overflow-y: scroll;
}

#topic {
    position: relative;
    /* margin: 10px; */
    font-size: 14pt;
    font-weight: bold;
}

#topic-form {
    position: absolute;
}

#topic-input {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: thin solid gray;
    padding: 10px 50px;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
}

#browse-file {
    position: absolute;
    left: 10px;
    top: 45px;
}

#pencil {
    position: absolute;
    right: 10px;
    top: 45px;
}

#ai-model {
    margin: 30px 0px 20px;
    position: relative;
    padding-bottom: 10px;
    font-size: 14pt;
}

#label {
    margin-bottom: 10px;
}

#ai-model-selection {
    position: absolute;
    height: auto;
}

#ai-model-name {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding-left: 50px;
}

#robot {
    position: absolute;
    top: 45px;
    left: 10px;
    opacity: 0.6;
}

#drop-down {
    position: absolute;
    right: 15px;
    top: 45px;
    opacity: 0.6;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-color: rgb(245, 245, 245);
}

#llm-range {
    margin: 10px 0px 20px;
    position: relative;
    font-size: 14pt;
}

#llm-range-value {
    width: 100%;
}



.form-range::-webkit-slider-thumb {
    background-color: orange;
    /* change this to your desired color */
}

#tensor {
    position: absolute;
    top: 0;
    right: 0;
    color: gray
}

#topic-icons {
    width: 100%;
}

#topic-selection {
    margin-bottom: 10px;
    font-size: 14pt;

}

#btm-nav-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    overflow-x: scroll;
}

#weight-ai {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(228, 226, 226);
    position: absolute;
    bottom: 40px;
    opacity: 0.6;
}

#weight-ai-icon {
    position: absolute;
    left: 12px;
    bottom: 14px;
}

#walking {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(228, 226, 226);
    position: absolute;
    bottom: 40px;
    left: 80px;
    opacity: 0.6;
}

#walking-icon {
    position: absolute;
    left: 12px;
    bottom: 14px;
}

#running {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: #FF8624;
    position: absolute;
    bottom: 40px;
    left: 160px;
}

#running-icon {
    position: absolute;
    left: 12px;
    bottom: 14px;
}

#cycling {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(228, 226, 226);
    position: absolute;
    bottom: 40px;
    left: 240px;
    opacity: 0.6;
}

#cycling-icon {
    position: absolute;
    left: 12px;
    bottom: 14px;
}

#hiking {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(228, 226, 226);
    position: absolute;
    bottom: 40px;
    left: 320px;
    opacity: 0.6;
}

#hiking-icon {
    position: absolute;
    left: 12px;
    bottom: 14px;
}

#karate {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(228, 226, 226);
    position: absolute;
    bottom: 40px;
    left: 400px;
    opacity: 0.6;
}

#karate-icon {
    position: absolute;
    left: 12px;
    bottom: 14px;
}

#skating {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(228, 226, 226);
    position: absolute;
    bottom: 40px;
    left: 480px;
    opacity: 0.6;

}

#skating-icon {
    position: absolute;
    left: 12px;
    bottom: 14px;
}

#styling-bar {
    background-color: black;
    height: 5px;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    bottom: 5px;
}

#preferred-name {
    position: relative;
    top: -10px;
    font-size: 14pt;
}

#name-input {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: thin solid gray;
    padding: 20px 50px;
    margin-top: 10px;
    background-color: rgb(245, 245, 245);
}

#user-ai {
    position: absolute;
    top: 45px;
    left: 10px;
    opacity: 0.6;
}

#pencil-1 {
    position: absolute;
    top: 45px;
    right: 10px;
}

::-webkit-scrollbar {
    display: none;
}

#start-chat-container {
    width: 90%;
    height: 70px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 50px;
    background-color: black;
    color: #FF8624;
    font-size: 20pt;
    text-align: center;
    margin: 20px auto;
    position: relative;
}

#start-chat {
    width: 40px;
    height: 40px;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    bottom: 15px;
}

#start-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
}

#training-plan {
    margin: 10px 0 10px 20px;
    font-weight: bold;
}

#training-card-container {
    display: flex;
    overflow-x: scroll;
    gap: 16px;
    margin: 0 20px;
    width: 90%;
}

.training-card {
    width: 300px;
    height: 250px;
    /* background-color: #FF8624; */
    border-radius: 40px;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
    border: solid 1px #FF8624;
}

#ai-rec-initiate {
    background-image: url('/img/workout-paperwall-4.png');
    background-size: cover;
    position: relative;
}

.training-plan-text {
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-weight: bold;
    color: white;
}

#start-training-plan {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #FF8624;
    bottom: 10px;
    left: 30px;
    border-radius: 20px;
}

.start-training-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
}

h2 {
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

#chest {
    background-image: url('/img/chest-benchpress.gif');
    background-size: cover;
    background-position: center center;
    width: 110%;
    height: 100%;
}

#back {
    background-image: url('/img/back-seated-cable.gif');
    background-size: cover;
    background-position: center center;
    width: 110%;
    height: 100%;
}

#intensive-cardio {
    background-image: url('/img/moutain-climb.gif');
    background-size: cover;
    background-position: center center;
    width: 110%;
    height: 100%;
}

#light-cardio {
    background-image: url('/img/ai-training-scan.png');
    background-size: cover;
    background-position: center center;
    width: 110%;
    height: 100%;
}

#basic-boxing {
    background-image: url('/img/boxing-basic.gif');
    background-size: cover;
    background-position: center center;
    width: 110%;
    height: 100%;
}

#agility {
    background-image: url('/img/agility.gif');
    background-size: cover;
    background-position: center center;
    width: 110%;
    height: 100%;
}

#diet-nutrition {
    margin: 30px 20px 0;
    font-weight: bold;
}

#diet-card-container {
    display: flex;
    overflow-x: scroll;
    gap: 16px;
    margin: 0 20px;
    width: 90%;
    margin: 10px 20px 30px;
}

#diet-rec-initiate {
    background-image: url('/img/diet-nutrition.png');
    background-size: cover;
    position: relative;
}



#start-diet-plan {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #FF8624;
    bottom: 10px;
    left: 30px;
    border-radius: 20px;
}

#low-carb {
    background-image: url('/img/low-carbs.png');
    background-size: cover;
    background-position: center center;
    width: 110%;
    height: 100%;
}

#bulking {
    background-image: url('/img/bulking-diet.jpg');
    background-size: cover;
    background-position: center center;
    width: 110%;
    height: 100%;
}

#healthy-meal {
    background-image: url('/img/healthy-meal.png');
    background-size: cover;
    background-position: center center;
    width: 110%;
    height: 100%;
}